/* Universal Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Using 62.5% as default font size is 16px 10/16 = 62.5% 10 is the desired font size to make working with rems easier */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
